{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	- Saison
	{{ season.number }}
	- Episode
	{{ episode.number }}
	:
	{{ episode.name }}
{% endblock %}

{% block body %}
	<main>
		<h1>Saison
			{{ season.number }}
			de
			<i>{{ program.title }}</i>
		</h1>
		<p>{{ season.description }}
		</p>
		<ul>
			{% for episode in season.episodes %}
				<li>
					{{episode.number}}
					-
					<i>{{ episode.title }}</i>
				</li>
			</a>
		</li>
	{% else %}
		<h2>Pas d'épisodes à afficher</h2>
	{% endfor %}
</ul>
<a href="{{ path('program_show', {"id":program.id}) }}">
	Retour à la fiche série
</a></main>{% endblock %}
