{% extends 'base.html.twig' %}

{% block title %}Séries
{% endblock %}

{% block body %}
	<h1>Séries</h1>

	<a href="{{ path('app_index') }}" type="button" class="btn mt-3">
		← Accueil
	</a>

	{# {% for program in programs %}
														<br><div>
															<h2>{{ loop.index }}
																/
																{{ program.title }}
																- Catégorie :
																{{ program.category.name }}</h2>
															<p>{{ program.synopsis }}</p>
															<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
														</div>
													{% else %}
														Aucune série trouvée.
													{% endfor %} #}


	{# ---VERSION CARDS--- #}
	<div class="container">
		<a href="{{ path('category_index') }}" type="button" class="btn mt-3">
			Voir par catégorie
		</a>
		<br><a href="{{ path('program_new') }}">Ajouter une nouvelle série</a>

		<div class="programsList row row-cols-4 g-4">
			{% for program in programs %}

				<div class="card mb-2" style="width: 18rem">

					<div class="card-body d-flex flex-column align-center">
						<img class="rounded" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}"/>
						<h3 class="card-title text-uppercase">{{program.title}}</h3>
						<p class="card-category font-weight-light">{{program.category.name}}</p>
						<p class="card-synopsis">{{program.synopsis}}</p>

						<div class="mt-auto text-center">
							<a href="{{ path('program_show', {slug:program.slug}) }}" class="btn p-2 rounded stretched-link">Voir détails</a>
						</div>
					</div>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
	</div>
{% endblock %}
