{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	- Saison
	{{ season.number }}
{% endblock %}

{% block body %}
	<main>
		<h1>Saison
			{{ season.number }}
			de
			<i>{{ program.title }}</i>
		</h1>
		<p>{{ season.description }}
		</p>
		<ul>
			{% for episode in season.episodes %}
				<li>
					<a href="{{ path('program_episode_show', {'programId': program.id, 'seasonId': season.id, 'episodesId':episode.id }) }}">
						{{episode.number}}
						-
						<i>{{ episode.title }}</i>
					</li>
				</li>
			</a>
		</li>
	{% else %}
		<h2>Pas d'épisode à afficher</h2>
	{% endfor %}
</ul>
<a href="{{ path('program_show', {slug:program.slug}) }}">
	Retour à la fiche série</a></main>{% endblock %}
