{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
{% endblock %}

{% block body %}
	<a href="{{ path('program_index') }}" type="button" class="btn mt-3">
		← Retour à la liste des programmes
	</a>

	<div class="programInfos text-center">
		<div class="programInfo-text">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Genre :
				{{ program.category.name }}</p>
		</div>
	</div>
{% endblock %}
