{% extends 'base.html.twig' %}

{% block title %}
	{{ actor.name }}
{% endblock %}

{% block body %}
	<h1>{{ actor.name }}</h1>

	Identifiant :
	{{ actor.id }}

	<br>Séries :
	{% for program in actor.programs %}
		<a href="{{ path("program_show", {"id": program.id }) }}">{{ program.title }}</a>
		||
	{% else %}
		<li>Aucune série pour cet acteur.</li>
	{% endfor %}

	<br><a href="{{ path('actor_index') }}">Retour à la liste</a>

{% endblock %}
