{% extends 'base.html.twig' %}

{% block title %}Acteur / Actrice
{% endblock %}

{% block body %}
	<h1>Acteur / Actrice</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Identifiant</th>
				<td>{{ actor.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ actor.name }}</td>
			</tr>
			<tr>
				<th>Mise à jour</th>
				<td>{{ actor.updatedAt ? actor.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td><img class="rounded w-25 mb-2" src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }}"/></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_actor_index') }}">Retour à la liste</a>

	<a href="{{ path('app_actor_edit', {'id': actor.id}) }}">Modifier</a>

	{{ include('actor/_delete_form.html.twig') }}
{% endblock %}
